@font-face {
    font-family: RoadRadio;
    src: url(assets/fonts/RoadRadio/RoadRadio-Black.ttf);
    font-weight: 700 ;
}
@font-face {
    font-family: RoadRadio;
    src: url(assets/fonts/RoadRadio/RoadRadio-Bold.ttf);
    font-weight: 500 ;
}
@font-face {
    font-family: RoadRadio;
    src: url(assets/fonts/RoadRadio/RoadRadio.ttf);
    font-weight: 300 ;
}
@font-face {
    font-family: RoadRadio;
    src: url(assets/fonts/RoadRadio/RoadRadio-Light.ttf);
    font-weight: 100 ;
}
@font-face {
    font-family: SF;
    src: url(assets/fonts/SFUIDisplay/SFUIDisplay-Semibold.ttf);
    font-weight: 500 ;
}
@font-face {
    font-family: SF;
    src: url(assets/fonts/SFUIDisplay/SFUIDisplay-Regular.ttf);
    font-weight: 300 ;
}
@font-face {
    font-family: SF;
    src: url(assets/fonts/SFUIDisplay/SFUIDisplay-Light.ttf);
    font-weight: 100 ;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #101010;
    color:white;
}

.container {
    width:1170px;
    height:1860px;
    margin: auto;
}

.menu {
    font-family: RoadRadio;
    font-size: 18px;
    font-weight: 300;
}
.menu-item{
    display:inline;
    margin-right: 37px;
}
.a-menu{
    text-decoration: none;
    color:#ffffff;
    letter-spacing: 0.03em; 
    opacity: 50%; 
}

.nav{

}



.header{
    width: 600px;
    padding-top: 50px;
}

.right-side{
    float:right;
    width: 370px;
    height: 1785px;
    background: #782DF2;
}


.main{
    margin-top:120px;
}



.h1-title{
    font-family: RoadRadio;
    font-size: 68px;
    font-weight: 700;
    letter-spacing: 0.03em;   
}

.h1-semititle{
    font-family: RoadRadio;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 0.03em; 
    margin-top:20px;  
}

.h2-title{
    font-family: RoadRadio;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0.03em;  
}

.left-line{
    width:1px;
    height:1390px;
    background-color: #ffffff;
    float:left;
    margin-top:90px;
}

.info-block{
    margin-left:100px;
    margin-top:60px;
}




.info-block-first {
    margin-left:100px;
    margin-top:90px;
}


.p-info{
    font-family: SF;
    font-size: 32px;
    font-weight: 300; 
    font-size: 18px;
    line-height: 30px;
    margin-top:20px;
}

.code-container{
    background-color: #1D1D1D;
    margin-top:20px;
    width:500px; 
    padding:20px;
}

.project-first{
    display: block;
    margin-top:20px;
}

.project{
    display: block;
    margin-top:10px;
}    

.myimg{
    width: 339px;
    height: 539px;
    margin-top:110px;
}

.ul-right-side{
    font-family: SF;
    font-size: 32px;
    font-weight: 300; 
    font-size: 18px;
    line-height:34px;
    margin-top:20px;
}

.li-right-side{
    list-style-type: none;
}

.info-block-right-side-first{
    margin-left:58px;
    margin-top:71px;
}

.info-block-right-side{
    margin-left:58px;
    margin-top:50px;
}

.p-info-right{
    font-family: SF;
    font-size: 32px;
    font-weight: 100; 
    font-size: 18px;
    line-height: 30px;
    margin-top:12px;
}

.a-contacts{
    color:#ffffff;
    display: block;
}

.footer{
    width: 1168px;
    height: 117px;
    border: 1px solid #FFFFFF;
    background-color: #101010;
    margin-top:43px;
    display: FLEX;
    align-items: center;
    justify-content: space-between;
}
.rsschool-logo-footer{
    margin-left:20px;
}

.gh-logo-footer{
    margin-right:20px;
}

.name-footer{
    font-family: RoadRadio;
    font-size: 32px;
    font-weight: 100; 
    font-size: 18px;
    line-height: 30px;
}





